body, html {
	font-family: 'Roboto', sans-serif;
}

h3, p {
	margin: 0;
}

/* CONTENT */
.content {
	height: calc(100vh - 48px - 38px);
}

/* NAVBAR */


.logoButton>button,.logoButton>a {
	padding: 10px 16px 0px 16px !important;
}



/* LEFT NAVBAR */
.leftNavContainer {
	max-height: calc(100vh - 56px);
}


/* SELECT HEADER */
.selectSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ 
}

.selectSelectHeader .header-searchbox {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 0; 
}

.selectSelectHeader .select-header {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
	padding-left: 10.667px;
	height: 48px;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	width: auto; 
}

.selectSelectHeader md-content._md {
	max-height: 240px; 
}

/* FOOTER */
footer {
	padding: 5px 0;
	font-size: 0.7em;
	background-color: #009688;
	color: #FAFAFA;
}

/* CONTENT */

.loginContent {
	height: calc(100vh - 38px);
}

.content h1,.content h3,.content h3, {
	margin: 0 0 10px 0;
}
.content p {
}

.alert {
	color: red;
}

.tealbg {
	background-color: #009688;
}

.amberbg {
	background-color: #FFC107;
}

/* HELPERS */
.centertext {
	text-align: center;
}


/* ANIMATIONS */

.fade-in-out {

}

.fade-in-out.ng-hide-add, {
	opacity: 1;
}

.fade-in-out.ng-hide-remove {
	transition: all linear 0.5s;.
	opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}

md-icon.fa.fa-2x {
	padding-top: 5px;
}


/* LARAVEL BASE */

.title {
    font-size: 84px;
}
.splashlogo {
	width: 200px;
}

@media screen and (max-width: 768px) {
	.title {
	    font-size: 40px;
	}
	.splashlogo {
		width: 100px;
	}
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}